@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

*{
  box-sizing: border-box;
  margin: 0;
}
h1{
  margin: 0;
  padding: 0;
}

body{
  background-color: #21272f;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: Roboto;
}
.loading-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter{
  text-align: center;
}

.counter h1{
  color: #fe5c5d;
  font-size: 30px;
  margin-top: 90px;
  margin-left: 85px;
  font-weight: 100
}

img{
  width: 92px;
  height: 150px;
  margin:0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
@keyframes spin {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);  }
}
@-webkit-keyframes spin{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
}
.imageSpin{
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
